* {
    margin: 0px;
    padding: 0px;
}

.box {
    width: 100%;
    height: 2500px;
    border: 1px solid red;
}

.top {
    width: 100%;
    height: 104px;
    border: 1px solid green;
    background: rgb(245, 245, 245);
}

.logo {
    width: 230px;
    height: 100px;
    margin-right: -60px;
    margin-left: 80px;
}

.diqu {
    width: 200px;
    height: 104px;
    position: relative;

}

.search {
    width: 400px;
    height: 104px;
    margin-right: 5px;
}

.login {
    width: 250px;
    height: 104px;
    margin-right: 80px;
}

.logo,
.diqu {
    float: left;


}

.search,
.login {
    float: right;

}

.logo img {
    width: 146px;
    height: 71px;
}

.diqu .items_diqu {
    float: left;

    width: 79px;
    height: 30px;
    margin-right: 10px;
    margin-top: 40px;
}

.diqu ul {
    list-style: none;
}



.diqi ul li .dww {
    width: 6px;
    height: 6px;
    margin-right: 5px;
}

.diqu ul li .sanjiaoxing {
    width: 8px;
    height: 5px;
    margin-left: 5px;
}

.diqu ul li .shouye {
    color: red;
    margin-right: 10px;

}

.search_form {
    width: 350px;
    height: 50px;
    border: 1px solid #f40;
    margin-top: 25px;
    margin-left: 20px;
    position: relative;


}

.search .search_form input {
    display: inline-block;
    width: 285px;
    height: 46px;
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none;
    background: url(img/2.png);

    background-size: 7%;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
    border: none;


}

.search .search_form button {
    display: inline-block;
    width: 62px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #f40;
    border: none;
    color: #fff;
    font-size: 16px;

}

.login ul li {
    float: left;
    height: 30px;
    width: 75px;

    position: relative;
    margin-top: 34px;
}

.login ul {
    list-style: none;
}

.login ul li img {
    width: 23px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 0px;

}

.login ul li span {
    color: black;
    position: absolute;
    top: 7px;
    left: 28px;

}

.login_xiala {
    width: 60px;
    height: 100px;
    background: white;
    position: absolute;
    top: 35px;
    left: 0px;
    text-align: center;
    font-size: 14px;
    display: none;
    z-index: 4;
}

.login .items_login:hover .login_xiala {
    display: block;
}

.diqu .items_diqu .diqu_xiala {
    width: 474px;
    height: 500px;
    z-index: 4;
    position: absolute;
    top: 71px;
    left: -134px;
    background: white;
    display: none;
}

.dangqian_city {
    width: 472px;
    height: 30px;

    line-height: 30px;
}

.dangqian_city span {
    margin-left: 50px;
    font-size: 15px;
    display: inline-block;
    background-color: orange;
    width: 50px;
    height: 30px;
    text-align: center;
}

.remen_city {
    width: 472px;
    height: 30px;

    line-height: 30px;

}

.remen_city span {
    font-size: 15px;
}

.qita_city {
    width: 472px;
    height: 414px;

    margin-top: 20px;
    position: relative;
}

.qita_city span {
    width: 349px;
    height: 413px;
    position: absolute;
    display: inline-block;

    line-height: 30px;
    font-size: 15px;
    padding-left: 9px;

}

.diqu .xiala:hover .diqu_xiala {
    display: block;
}

.banner_container {
    width: 1200px;
    height: 320px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    margin: 0 100px;

}

.wrap {
    width: 3600px;
    height: 320px;
    position: absolute;
    z-index: 1;
    animation: myani 10s 0s alternate ease-in-out infinite;
    -ms-animation: myani 10s 0s alternate ease-in-out infinite;
    -moz-animation: myani 10s 0s alternate ease-in-out infinite;
    -webkit-animation: myani 10s 0s alternate ease-in-out infinite;

}

.wrap:hover {
    animation-play-state: paused;
}

.wrap img {
    float: left;
}

@keyframes myani {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: -1200px;
    }

    100% {
        margin-left: -2400px;
    }


}

.banner_container a {
    text-decoration: none;
}


.buttons {
    position: absolute;
    bottom: 20px;
    left: 540px;
    width: 100px;
    height: 20px;

    z-index: 2;
}

.buttons span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
}

.arrow_left {
    position: absolute;
    left: 0px;
    top: 37%;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding: 21px 12px;
}

.arrow_right {
    position: absolute;
    right: 0px;
    top: 37%;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding: 21px 12px;
}

.long_brand {
    width: 1257px;
    height: 104px;
    border: 1px solid gray;
    margin-left: 43px;
    margin-bottom: 33px;
    margin-top: 23px;
}

.long_brand .items_long {
    float: left;
    width: 100px;
    height: 104px;

    margin-left: 23px;
    position: relative;
    text-align: center;


}

.long_brand ul {
    list-style: none;
}

.long_brand .long_1 {
    background-image: url(img/long.png);
    background-position: 10px 0px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_2 {
    background-image: url(img/long.png);
    background-position: 10px -95px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_3 {
    background-image: url(img/long.png);
    background-position: 10px -181px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_4 {
    background-image: url(img/long.png);
    background-position: 10px -267px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_5 {
    background-image: url(img/long.png);
    background-position: 10px -346px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_6 {
    background-image: url(img/long.png);
    background-position: 10px -432px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_7 {
    background-image: url(img/long.png);
    background-position: 10px -522px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_8 {
    background-image: url(img/long.png);
    background-position: 10px -611px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_9 {
    background-image: url(img/long.png);
    background-position: 10px -696px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.long_brand .long_10 {
    background-image: url(img/long.png);
    background-position: 10px -783px;
    background-repeat: no-repeat;
    background-size: 70%;


}

.blue {
    width: 37px;
    height: 320px;
    background: blue;
    opacity: 0.5;
    position: absolute;
    top: 108px;
    left: 44px;
    z-index: 1;
}

.long_brand .items_long span {

    font-size: 17px;
    margin-top: 65px;
    display: block;




}

.yanchanhui,
.huaju,
.tiyu,
.qinzi {
    width: 1257px;
    height: 415px;
    border: 1px solid gray;
    margin-left: 44px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.yanchanhui .yan {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.yanchanhui .more {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    color: gray;
    font-size: 14px;
}

.two {
    width: 100%;
    height: 30px;

}

.band1_left,
.band1_right {
    float: left;
    margin-top: 9px;


}

.band1_left {
    width: 285px;
    height: 360px;
    margin-right: 40px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

.font_on {
    width: 270px;
    height: 120px;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.font_on span {
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    display: inline-block;

}

.font_on span:hover {
    color: red;
}

.band1_right {
    width: 910px;
    height: 360px;
}

.band1_left img {
    width: 285px;
    height: 360px;
}

.band1_right ul li {
    width: 149px;
    height: 178px;

    float: left;
    position: relative;
    margin-bottom: 10px;

}

.band1_right ul li img {
    width: 137px;
    height: 173px;
    margin-left: 6px;

}

.band1_right ul li h4 {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 20px;

}

.band1_right ul li h5 {
    font-weight: normal;
    font-size: 12px;
    color: #555;

}

.band1_right ul li h6 {
    font-weight: normal;
    font-size: 15px;
    color: red;
    margin-top: 60px;

}

.band1_right ul {
    list-style: none;
}

.gudingdaohanglan {
    width: 66px;
    height: 200px;

    position: fixed;
    right: 3px;
    bottom: 20px;
    z-index: 99999;
}

.gudingdaohanglan ul li {
    width: 66px;
    height: 66px;
    border: 1px solid gray;
    text-align: center;
    background: white;

}

.gudingdaohanglan ul {
    list-style: none;
}

.gudingdaohanglan .daohang_ul .daohan_1 {
    background-image: url(img/123.png);
    background-repeat: no-repeat;

    background-size: 91%;
    background-position: 1px 9px;
    position: relative;

}

.gudingdaohanglan .daohang_ul .daohan_2 {
    background-image: url(img/123.png);
    background-repeat: no-repeat;
    background-size: 91%;
    background-position: 9px -52px;


}

.gudingdaohanglan .daohang_ul .daohan_3 {
    background-image: url(img/123.png);
    background-repeat: no-repeat;
    background-size: 91%;
    background-position: 5px -119px;

}

.gudingdaohanglan ul li span {
    font-size: 12px;
    display: inline-block;
    margin-top: 51px;


}

.gudingdaohanglan ul li span:hover {
    color: red;
}

.xianshiimg {
    width: 100px;
    height: 100px;
    display: none;
    position: absolute;
    left: -108px;
    top: -14px;
    z-index: 9999;

}

.gudingdaohanglan .daohang_ul .daohan_1 .xianshiimg img {
    width: 100%;
    height: 100%；
}

.gudingdaohanglan .daohang_ul .daohan_1 span：hover img {
    display: block;
}

.bottom {
    width: 100%;
    height: 500px;
    background: rgb(245, 245, 245);
    margin-top: 20px;
}

.bottom_title {
    width: 1262px;
    height: 30px;

    margin-left: 20px;
    padding-top: 30px;
    text-align: center;

}

.bottom_title span {
    margin-left: 20px;

}

.bottom_jieshao {
    width: 100%;
    height: 400px;
    border: 1px solid red;
    margin-top: 20px;

}

.jieshao_logo,
.jieshao_xiangqing {
    float: left;
}

.jieshao_logo {
    width: 315px;
    height: 135px;

    margin-right: 54px;
    margin-left: 43px;
    margin-top: 30px;

}

.jieshao_xiangqing {
    width: 870px;
    height: 230px;

    margin-top: 30px;

}

.jieshao_logo .dada {
    width: 167px;
    height: 60px;
    margin-right: 42px;
}

.jieshao_logo .app {
    width: 90px;
    height: 90px;
    margin-top: 22px;
    display: inline-block;

}

.jieshao_logo p {
    margin-left: 226px;
    margin-right: 2px;
}

.jieshao_xiangqing span {
    margin-right: 8px;
}

.kefu {
    display: inline-block;
    width: 96px;
    height: 30px;
    background: red;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
    background-color: #ff1268;
    color: #fff;
    margin-bottom: 5px;

}

.jieshao_xiangqing span,
.jieshao_xiangqing p {
    font-size: 16px;
}